*{
  margin: 0;
  padding: 0;

}



html {

   scroll-behavior: smooth;

}


.title {
   display: flex;
   font-family: italic;
   font-weight: bold;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial,sans-serif;
   color: orange;
   border: 2px solid White;
   background-color: black;
}

.section-container {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.section-containertwo {
   height: 100vh;
   width: 100%;
   display: flex;
   
   
}

.background-section-one{
   background-image: url(assets/logo.png);
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}

.background-section-two{
   background-image: url(assets/section-two.jpg);
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}

.card-position{
   justify-content: flex-end;
}

.card{
   display: flex;
   flex-direction: column;
   align-items: right;
   flex-basis: 20%;
   font-family: sans-serif,arial,'Franklin Gothic Medium', 'Arial Narrow';
   margin-top: 120px;
   margin-right: 150px;
   
}



.price{
   font-size: 20px;
   font-weight: 400;
   align-items: center;
}

.description{
   font-size: 25px;
   font-weight: 600;

}


.background-section-three{
   background-image: url(assets/section-three.jpg);
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}


.card-container{

   border-radius: 25px;
   padding: 25px;
   max-width: 450px;
   display: grid; 
   
}
 


.mail{
   color: White;
   



}

input{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 12px;
  background-color:#000;
  color:#fff
}


form{

   display: grid;
}



footer{
   
   height: 150px;
   padding: 25px;
   text-align: center;
   background-color: #000;
   color:#fff;

}